.contents {
    font-weight: 700;
    font-family: "Sawarabi Gothic";
}

.dan{
    text-align: center;
}

.contents h1 {
    font-size: 1.2em;
    padding-bottom: 4vh;
}

.contents h2 {
    font-size: 1em;
    padding-bottom: 2vh;
}

.contents p {
    font-size: 0.8em;
    line-height: 2em;
    padding-bottom: 1vh;
}


@media screen and (max-width: 1024px) {
    .rightmid .column {
        padding-top: 0;
        padding-bottom:0;
    }
    .main {
        background-image: url("../img/message.jpg");
        background-size: cover;
        background-position: 50%;
    }
    .contents img {
        width: 60%;
    }
    .gazou {
        display: none
    }
    .contents h1 {
        font-size: 1.5em;
        padding-bottom: 4vh;
        padding-top: 0;
    }


    .contents h2 {
        font-size: 1em;
        padding-bottom: 2vh;
    }
    .contents p {
        font-size: 1.2em;
        padding-bottom: 1.5vh;
    }
    .bio {
        padding-top: 0;
    }
}

@media screen and (max-width: 768px) {
    .rightmid {
        padding-left: 2.5vw;
        padding-right: 2.5vw;
    }
    .main {
        background-image: url("../img/message.jpg");
        background-size: cover;
        background-position: 50%;
    }
    .contents p {
        font-size: 0.6em;
        line-height: 1.2em;
    }
    .gazou {
        display: none
    }
}