.contents {
    font-weight: 900;
}

.contents h1 {
    font-size: 1em;
}

.contents h2 {
    font-size: 1em;
    padding-bottom: 2vh;
}

.contents p {
    font-size: 0.6em;
    line-height: 2em;
}

.grid {
    width: 100%;
    margin: 0 auto;
    overflow: auto;
    max-height: 80vh;
}

.gazou {
    width: 10%;
}

.contents span {
    display: inline-block;
    padding-bottom: 2vh;
}

.rightmid {
    background-color: rgba(255, 255, 255, 0.4);
}

@media screen and (max-width: 1024px) {
    .rightmid {
        padding-left: 10vw;
        padding-right: 10vw;
    }
    .main {
        background-image: url("../img/message.jpg");
        background-size: cover;
        background-position: 50%;
    }
    .gazou {
        display: none
    }
    .contents h1 {
        font-size: 1.5em;
        padding-top: 0;
    }


    .contents h2 {
        font-size: 1em;
        padding-bottom: 2vh;
    }
    .contents p {
        font-size: 1em;
        line-height: 2em;
    }
}

@media screen and (max-width: 768px) {
    .rightmid {
        padding-left: 2.5vw;
        padding-right: 2.5vw;
    }
    .main {
        background-image: url("../img/message.jpg");
        background-size: cover;
        background-position: 50%;
    }
    .contents p {
        font-size: 0.6em;
        line-height: 2em;
    }
    .gazou {
        display: none
    }
}